body {
  font-family: monospace;
  font-size: 20px;
  background-color: #2b2b2b;
  color: #d8d8d8;
}

span.author-name .complete{
  font-weight: bold;
  color: #629755;
}

span.wip .complete {
  color: #ccdf32;
}

div.ex-cmd {
  position: fixed;
  bottom: 0px;
  width: 100%
}

span.email .complete {
  font-weight: bold;
  color: #d44738;
}

span.linkedin .complete {
  font-weight: bold;
  color: #0077B5;
}

span.quora .complete {
  font-weight: bold;
  color: #a62400;
}

span.github .complete {
  font-weight: bold;
  color: #d8d8d8;
}

span.twitter .complete {
  font-weight: bold;
  color: #55ACEE;
}

span.cursor {
  background-color: #d8d8d8;
}

span.cursor.blink {
  background-color: #2b2b2b;
}

#content {
  padding-bottom: 20px;
}

body::after {
  content: "";
  background: url('cl4rke.png');
  background-size: 5em;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;

  background-attachment: fixed;
  background-position: center;
}

blockquote {
  color: #629755;
}

div.options {
  float: right;
  background-color: #424445;
  border-bottom-left-radius: 25px;
  padding: 10px;
}

#typing-speed {
  width: 45px;
}

a {
  text-decoration: none;
}

a span:not(.complete) {
  cursor: pointer;
  color: white;
}

a span.complete {
  color: #8be9fd;
  text-decoration: underline;
}

a.twitter span.complete {
  color: #55ACEE;
}

a.github span.complete {
  color: #d8d8d8;
}

a.quora span.complete {
  color: #a62400;
}

a.linkedin span.complete {
  color: #0077B5;
}

a.email span.complete {
  color: #d44738;
}

table tr td:first-child {
  width: 7em;
}

