body {
    font-family: monospace;
    font-size: 20px;
    background-color: black;
    color: white;
}

span.author-name .complete{
    font-weight: bold;
    color: yellow;
}

span.wip .complete {
    font-weight: bold;
    color: red;
}

div.ex-cmd {
    position: fixed;
    bottom: 0px;
    background-color: black;
    width: 100%
}

span.email .complete {
    font-weight: bold;
    color: #d44738;
}

span.linkedin .complete {
    font-weight: bold;
    color: #0077B5;
}

span.quora .complete {
    font-weight: bold;
    color: #a62400;
}

span.github .complete {
    font-weight: bold;
    color: #171515;
    background-color: white;
}

span.twitter .complete {
    font-weight: bold;
    color: #55ACEE;
}

span.cursor {
    background-color: white;
}

span.cursor.blink {
    background-color: black;
}

#content {
    padding-bottom: 20px;
}

blockquote .complete {
    color: green
}

div.options {
    float: right;
}

#typing-speed {
    width: 45px;
}

