body {
    font-family: monospace;
    font-size: 20px;
    background-color: #2b2b2b;
    color: #d8d8d8;
}

span.author-name .complete{
    font-weight: bold;
    color: #629755;
}

span.wip .complete {
    font-weight: bold;
    color: #ccdf32;
}

div.ex-cmd {
    position: fixed;
    bottom: 0px;
    background-color: #2b2b2b;
    width: 100%
}

span.email .complete {
    font-weight: bold;
    color: #d44738;
}

span.linkedin .complete {
    font-weight: bold;
    color: #0077B5;
}

span.quora .complete {
    font-weight: bold;
    color: #a62400;
}

span.github .complete {
    font-weight: bold;
    color: #171515;
    background-color: #d8d8d8;
}

span.twitter .complete {
    font-weight: bold;
    color: #55ACEE;
}

span.cursor {
    background-color: #d8d8d8;
}

span.cursor.blink {
    background-color: #2b2b2b;
}

#content {
    padding-bottom: 20px;
}

blockquote {
    color: #629755;
}

div.options {
    float: right;
    background-color: #424445;
    border-bottom-left-radius: 25px;
    padding: 10px;
}

#typing-speed {
    width: 45px;
}

a {
    text-decoration: none;
}

a span:not(.complete) {
    cursor: pointer;
    color: white;
}

a span.complete {
    text-decoration: underline;
}

