.backdrop {  position: relative; }

.backdrop:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('crystal.jpg');
    opacity: 0.3;
    display: block;
}

.content {
    position: relative; 
    z-index: 2;
}
