.backdrop {  position: relative; }

.backdrop:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('http://vignette2.wikia.nocookie.net/finalfantasy/images/7/79/Final_Fantasy_XIV_ARR_crystal.jpg/revision/latest?cb=20130813092337');
    opacity: 0.3;
    display: block;
}

.content {
    position: relative; 
    z-index: 2;
}
